{% extends "base.html" %}
{% block content %}
<!-- About us info -->
<div class="container">
    <p>Facebook Page: <a href="https://www.facebook.com/TKNconfession/" > Contact</a></p>
<!-- Contact Form-->
    <div class="contact-form-container">
        <h1>Contact Form</h1>
        <form action="" method="POST">
            {{ form.name }}
            <p></p>
            {{ form.email }}
            <p></p>
            {{ form.contact_text }}
        <p></p>
        <button type="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock content %}
