<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    {% load staticfiles %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'confession_app.js' %}"></script>
    <meta charset="UTF-8">
    <title>Confession Site Submit</title>
</head>
<body>
<!-- Menu Nav Bar -->
<div class="menu">
        <a href="{% url 'confession_site:index' %}">Home</a>
        <a href="{% url 'confession_site:recall-index' %}">Recall</a>
        <a href="{% url 'confession_site:login' %}">Admin</a>
        <a href="{% url 'confession_site:about' %}">About</a>
</div>

{% block container %}<div class="container">{% endblock container %}
<div id="content-wrap">
{% block content %}{% endblock content %}
</div>

<!-- Footer -->
<footer>
  <hr>
  <h6>Copyright 2019 - 2020 Confession-Site. Best confession template backed by Django </h6>
  <ul>
    <li><a href="{% url 'confession_site:index' %}">Home</a></li>
    <li><a href="{% url 'confession_site:recall-index' %}">Recall</a></li>
    <li><a href="{% url 'confession_site:login' %}">Admin</a></li>
    <li><a href="{% url 'confession_site:about' %}">About</a></li>
  </ul>
</footer>
</div>

</body>
</html>
