{% extends "base.html" %}
{% block content %}
<!-- Form Heading -->
<div class="container">
      <h4><span class="paragraph">Hãy viết những điều bạn muốn nói vào đây và các ad sẽ đăng tải nó.</span></h4>
      <h4><span class="paragraph">Tuy nhiên, các bạn không được sử dụng teencode chỉ có thể dùng tiếng việt hoặc tiếng anh</span></h4>

          <!-- Confession Content Form -->
          <div>
          <form name="confess_form" action="{% url 'confession_site:result' %}" onsubmit="return validateForm_content()" method="post">
            {% csrf_token %}
              <textarea name="confess_content" rows="10" cols="100">Your Confession goes here</textarea>
              <p></p>
              <input type="submit" value="Submit">
          </form></div>
</div>
{% endblock content %}
