<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    {% load staticfiles %}
    <script src="{% static 'confession_app.js' %}"></script>
    <meta charset="UTF-8">
    <title>Confession Site Submit</title>
</head>
<body>
<!-- Menu Nav Bar -->
<div class="menu">
        <a href="{% url 'confession_site:index' %}">Home</a>
        <a href="{% url 'confession_site:recall-index' %}">Recall</a>
        <a href="{% url 'confession_site:login' %}">Admin</a>
        <a href="{% url 'confession_site:about' %}">About</a>
</div>

<!-- Form Heading -->
<div class="container">
      <h4><span class="paragraph">Hãy viết những điều bạn muốn nói vào đây và các ad sẽ đăng tải nó.
          Tuy nhiên, các bạn không được sử dụng teencode chỉ có thể dùng
          tiếng việt hoặc tiếng anh</span></h4>

          <!-- Confession Content Form -->
          <div>
          <form name="confess_form" action="{% url 'confession_site:result' %}" onsubmit="return validateForm_content()" method="post">
            {% csrf_token %}
              <textarea name="confess_content" rows="10" cols="100">Your Confession goes here</textarea>
              <p></p>
              <input type="submit" value="Submit">
          </form></div>
</div>

<!-- Footer -->
<footer>
  <hr>
  <h6>Copyright 2019 - 2020 Confession-Site. Best confession template backed by Django </h6>
  <ul>
    <li><a href="{% url 'confession_site:index' %}">Home</a></li>
    <li><a href="{% url 'confession_site:recall-index' %}">Recall</a></li>
    <li><a href="{% url 'confession_site:login' %}">Admin</a></li>
    <li><a href="{% url 'confession_site:about' %}">About</a></li>
  </ul>
</footer>


</body>
</html>
