<div class="confession-outbound" data-page="{{ list.number }}" id="scroll">
  {% for confession in list %}
  <div class="confession-box">
    <!-- Date Time -->
    <div class="confession-heading">
      <p>{{ confession.confess_date}}</p>
    </div>
    <!-- Confession -->
    <div class="confession-main">
      <p id="{{ confession.id }}">{{ confession.confession_text }}</p>
    </div>

    <div class="confession-footer">


<!-- Submit Button -->
      <form method="post">
        {% csrf_token %}
        <button type="submit">Publish</button>
      </form>
<!-- Edit Button -->
      <form method="post" action="">
        {% csrf_token %}
        <button class="edit-button" type="submit" data-confession-id="{{  confession.id }}" data-confession-text="{{ confession.confession_text }}" data-session="{{  user }}">Edit</button>
      </form>

    </div>
  </div>
  {% endfor %}
</div>
