{% comment %} <div class="confession-outbound" data-page="{{ list.number }}" id="scroll"> {% endcomment %}
  {% for confession in list %}
  <div class="confession-box">
    <!-- Date Time -->
    <div class="confession-heading">
      <p>{{ confession.confess_date}}</p>
    </div>
    <!-- Confession -->
    <div class="confession-main">
      <p id="{{ confession.id }}">{{ confession.confession_text }}</p>
    </div>

    <div class="confession-footer">


<!-- Submit Button -->
      <form method="post">
        {% comment %} <input type='hidden' name='csrfmiddlewaretoken value='{{ csrf_token_value }}'/> {% endcomment %}
        <button type="submit">Publish</button>
      </form>
<!-- Edit Button -->
      <form method="post" action="">
        {% comment %} <input type='hidden' name='csrfmiddlewaretoken value='{{ csrf_token_value }}'/> {% endcomment %}
        <button class="edit-button" type="submit" data-confession-id="{{  confession.id }}" data-confession-text="{{ confession.confession_text }}" data-session="{{  user }}">Edit</button>
      </form>

    </div>
  </div>
  {% endfor %}
{% comment %} </div> {% endcomment %}
