{% extends "base.html" %}
{% block content %}
<!-- Main Content -->
<div class="container">
<h4><span class="paragraph">Check your confession status</span></h4>

<!-- Recall Form -->
<form action="{% url 'confession_site:recall' %}" method="post">
    {% csrf_token %}
    Input ID:
    <input type="number" name="confess_id"><br>
    <input type="submit" value="Recall">
</form>
</div>
<!-- Error Message -->
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% endblock content %}
