<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recall Submit</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <meta charset="UTF-8">
</head>
<body>
<!-- Menu Nav Bar -->
<div class="menu">
        <a href="{% url 'confession_site:index' %}">Home</a>
        <a href="{% url 'confession_site:recall-index' %}">Recall</a>
        <a href="{% url 'confession_site:login' %}">Admin</a>
        <a href="{% url 'confession_site:about' %}">About</a>
</div>
<!-- Main Content -->
<h2>Check your confession status</h2>
<form action="{% url 'confession_site:recall' %}" method="post">
    {% csrf_token %}
    Input ID:
    <input type="number" name="confess_id"><br>
    <input type="submit" value="Recall">
</form>
</body>
</html>