html {
  font-size: 10pt;
  line-height: 1.4;
  font-weight: 400;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Source Sans Pro', 'Open Sans', Roboto, 'HelveticaNeue-Light',
  'Helvetica Neue Light', 'Helvetica Neue', 'Myriad Pro', 'Segoe UI', 'Fira Sans',
   Myriad, Helvetica, 'Lucida Grande', 'DejaVu Sans Condensed', 'Liberation Sans',
    'Nimbus Sans L', Tahoma, Geneva, Arial, sans-serif;
  color: #333;
  background: black;
}
body {
  background-position:center;
  background-size: contain;
  margin: 0 auto;
  max-width: 1050px;
  min-height: 40vh;
  max-height: 80vh;
  padding: 2em;
}
.menu {
  position: sticky;
  top: 0;
  background-color: white;
  border: 1px solid black;
  padding: 10px 0px 10px 0px;
  color: white;
  margin: 0 auto;
  overflow: hidden;
  align-content: center;
}
.menu a {
            border-left: 2px;
            color: black;
            background-color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 20px;
            transition: color 0.5s ease-in-out;
            transition: background-color 0.5s ease-in-out;
        }
.menu a:hover {
  color: white;
  background-color: black;
}
h1, h2, h3, h4, h5, h6 {
  margin: .5em 0;
  font-weight: 600;
  letter-spacing: -.03em;
  line-height: 1.2;
  font-family: 'Fira Sans', 'Source Sans Pro', 'Open Sans', Roboto,
   'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Myriad Pro',
    'Segoe UI', Myriad, Helvetica, 'Lucida Grande', 'DejaVu Sans Condensed',
     'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, Arial, sans-serif;
  word-break: break-word;
}
h1 {
  text-align: center;
  font-size: 480%;
  font-weight: 700;
  line-height: 1;
  color: #333;
  text-shadow: white 0 -1px 0;
}
h1 + h2 {
  margin-top: -1em;
  margin-bottom: 1.5em;
  font-size: 200%;
  line-height: 1.4;
  font-weight: 300;
  text-align: center;
  color: #777;
}
h2 {
  font-size: 300%;
}
h3 {
  font-size: 220%;
}
h4 {
  font-size: 180%;
}
h5 {
  font-size: 140%;
}
h6 {
  font-size: 120%;
  color: white;
}
.container {
  position: relative;
  min-height: 50vh;
  max-height: 80vh;
  margin-top: 20px;
  padding-bottom: 1vh;
  margin-bottom: 5vh;
  background-color: white;
}
.container textarea{
  margin: 10px;
}
div { text-align: center; }
footer {
  margin-top: 5vh;
  bottom: auto;
  width: 100%;
  height: 2.5rem;
  position: absolute;
}
content-wrap {
  min-height: 50vh;
  padding-bottom: 2.5rem;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
  font-size: 110%;
  padding-right: 5px;
}
li a{
  color: white;
}
.confession-outbound{
  max-height: 70vh;
  overflow-y: auto;
}
.confession-box{
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid grey;
  background-color: white;
  min-height: 8em;

}
.confession-box p{
  text-align: left;
  margin-top: 2px;
  margin-bottom: 2px;
}
.confession-heading{
  margin: 2px;
  margin-bottom: 0;
  border: 1px solid black;
  background-color: white;
  height: 2em;
}
.confession-main{
  margin: 2px;
  margin-top: 0;
  margin-bottom: 0;
  border: 1px solid black;
  border-top: 0;
  border-bottom: 0;
  background-color: white;
  min-height: 5em;
}
.confession-footer{
  margin: 2px;
  margin-top: 0;
  border: 1px solid black;
  background-color: white;
  height: 3em;
  text-align: left;
}
.confession-footer form{
  display: inline;
}
.edit-button{}
.contact-form-container{
  margin-top: 2vh;
  padding-bottom: 5vh;
  margin-left: 10vw;
  margin-right: 10vw;
  border: 0.5px solid black;
  align-content: center;
  align-items: center;
}
.contact-form-container h1{
  text-align: center;
  font-size: 150%;
}
.contact-form-container input{
  margin: 2px;
  border: 0.5px solid black;
  text-align: left;
  width: 20vw;
}
.contact-form-container textarea{
  width: 20vw;
}
.contact-form-container label{
  font-weight: bold;
  font-size: 110%;
}